html {
    scroll-behavior: smooth;
}

body {
    margin:0;
    padding:0;
}

#resizeme{
    width: auto;
    height: auto;
    transition: width 1s;
}

* {
    background-color: #e6e6e6;
    overflow-x: hidden;
}

.navigacia{
    list-style:none;
    margin:0;
    padding:0;
    position: fixed;
    text-align:center;
    top: 0;
    width: 100%;
}

.navigacia img {
    border-radius: 50%;
}

.navigacia * {
    background-color: #333;
}

.navigacia li{
    display:inline;
}
.navigacia a{
    display:inline-block;
    padding:10px;
}

.navigacia li a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

img {
    border: 0;
}

.navigacia ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigacia li a:hover {
    background-color: #111;
}

.navigacia li a:focus {
    height: auto;
    background-color: #b49f9f;
}

#about {
    padding-top: 150px;
    align-items: center;
    display: flex;
    padding-bottom: 175px;
}

#projects {
    padding-top: 50px;
    align-items: center;
    display: flex;
    padding-bottom: 175px;
}

#education {
    align-items: center;
    display: flex;
    padding-bottom: 175px;
}

#home img {
    border-radius: 50%;
}

#home {
    padding-top: 150px;
    background: #000000;
    height: 95vh;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

h1.headername {
    color: #000000;
    font-size: 30px;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
}

h2#lolofon {
    padding-top: 75px;
    padding-bottom: 5px;
    color: #000000;
    font-size: 30px;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
}

#projects p {
    font-family: Helvetica, Sans-Serif;
}

#projects h3 {
    font-family: Helvetica, Sans-Serif;
}

#projects div.homediv{
    padding-bottom: 150px;
}

#education div.homediv{
    padding-bottom: 150px;
}

h2#lolofon2 {
    padding-top: 75px;
    padding-bottom: 5px;
    color: #000000;
    font-size: 30px;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
}

h2#lolofon3 {
    padding-top: 75px;
    padding-bottom: 5px;
    color: #000000;
    font-size: 30px;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
}

h3.headerclass{
    color: gray;
    font-size: 25px;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
}

div.homekontakt {
    color: #656666;
}

#about img {
    border-radius: 50%;
}

#projects img {
    border-radius: 50%;
}

div.homekontakt a{
    color: red;
    text-decoration: none;
}

div.homekontakt a:hover{
    color: blue;
    cursor: pointer;
}

#about div.homediv {
    width: 50%;
    margin: 0 auto;
    line-height: 25px;
}

#projects div.haha{
    padding-top: 150px;
}

#projects *{
    background: black;
}

#projects div.homediv {
    width: 50%;
    margin: 0 auto;
    line-height: 25px;
}

#education div.homediv {
    width: 50%;
    margin: 0 auto;
    line-height: 25px;
}

#home div.homediv {
    margin: 0 auto;
    line-height: 25px;
    padding-bottom: 350px;
    vertical-align: center;
}


#home * {
    background: black;
}

.haha{
    color: #a3a3a3;
    display: inline-flex;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

#about h1 {
    line-height: 28px;
}

#projects h1 {
    line-height: 28px;
}

#education h1 {
    line-height: 28px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
}

.dropdown-content {
    position: fixed;
    top: 47px;
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #767474;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.homediv ul li {
    display: inline;
    list-style-type: circle;
    list-style-image: url(pc.jpeg);
}

#education img{
    border-radius: 50%;
}


#bloc1, #bloc2, #bloc3
{
    display:inline;
}

#education{
    font-family: Helvetica, Sans-Serif;
}

#bloc1{
    padding-right: 18px;
}

#bloc3{
    padding-left: 300px;
}

#education p.abouttext {
    padding-bottom: 100px;
}

#bloc12, #bloc22, #bloc32
{
    display:inline;
}

#bloc13, #bloc23, #bloc33
{
    display:inline;
}

#bloc12{
    padding-right: 18px;
}

#bloc32{
    padding-left: 300px;
}

#bloc13{
    padding-right: 18px;
}

#bloc33{
    padding-left: 300px;
}

#block_container, #block_container2, #block_container3{
    padding-bottom: 25px;
}

footer {
    display: block;
    text-align: center;
    line-height: normal;
    font-family: Helvetica, Sans-Serif;
    text-decoration: none;
    font-size: 12px;
}
